#BodyB{
    position:absolute;
    width: available;
    height:auto;
    max-width: 100%;
    max-height: 100vh;
    top:505px;
    left:0px;
    margin:auto;
}
#HeaderB{
    position:absolute;
    width: max-content;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
    top:0px;
    left:0px;
}
#Logo{
    position:absolute;
    top:150px;
    left:45%;
}
.mainNavBar{
    background-color:black;
    position:absolute;
    top:435px;
    left:30%;
    border:solid;
    border-width: 2px;
    border-color: #f6ff5a;
}
.mainNavBar a{
    font-family: "Times New Roman";
    text-decoration: none;
    padding:25px ;
    color:#f6ff5a ;
}
#homeDiv{
    font-family: "Times New Roman";
    padding: 10px;
    position:absolute;
    top:550px;
    width: 900px;
    left:20%;
}
#homeTitle{

    color:black ;
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}
#blurbDiv{
    font-size: x-large;
    padding: 10px;
    background-color:white;
    color: black;
    text-align: left;
    border-color: black;
    border-style: solid;
}
#homeBlurb1{
    margin: 0;
    text-indent: 2em;
}
#homeBlurb2{
    margin: 0;
    text-indent: 2em;
}
#homeBlurb3{
    margin: 0;
    text-indent: 2em;
}

#BodyB{
    position:absolute;
    width: available;
    height:auto;
    max-width: 100%;
    max-height: 100vh;
    top:505px;
    left:0px;
    margin:auto;
}
#HeaderB{
    position:absolute;
    width: available;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
    top:0px;
    left:0px;
}
#Logo{
    position:absolute;
    top:150px;
    left:45%;
}
.servicesNavBar{
    background-color:black;
    position:absolute;
    top:435px;
    left:30%;
    border:solid;
    border-width: 2px;
    border-color: #f6ff5a;
}
.servicesNavBar a{
    font-family: "Times New Roman";
    text-decoration: none;
    padding:25px;
    color:#f6ff5a ;
}
#servicesPage{
    font-family: "Times New Roman";
    text-align:center;
    background-color: black;
    padding: 5px;
    color: #f6ff5a;
    position:absolute;
    width: 550px;
    top:550px;
    left:30%;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}


#service1{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 750px;
    left:5%;
    height: 200px;
    width: 200px;
}
#growService{
    position: absolute;
    top: 0px;
    left: 15%;
    border-style: solid;
    border-color: black;
}
#growText{
    position: absolute;
    top: 140px;
    left:80px;
}
#growDescription{
    text-align: center;
    position:absolute;
    padding: 10px;
    left: 0px;
    top: 175px;
    width: 200px;
    background-color: black;
    color: #f6ff5a;
}


#service2{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 750px;
    left:30%;
    height: 200px;
    width: 200px;
}
#consultService{
    position: absolute;
    top: 0px;
    left: 15%;
    border-style: solid;
    border-color: black;
}
#consultText{
    position: absolute;
    top: 140px;
    left:80px;
}
#consultDescription{
    text-align: center;
    position:absolute;
    padding: 10px;
    left: 0px;
    top: 175px;
    width: 200px;
    background-color: black;
    color: #f6ff5a;
}


#service3{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 750px;
    left:55%;
    height: 200px;
    width: 200px;
}
#developService{
    position: absolute;
    top: 0px;
    left: 15%;
    border-style: solid;
    border-color: black;
}
#developText{
    position: absolute;
    top: 140px;
    left:80px;
}
#developDescription{
    text-align: center;
    position:absolute;
    padding: 10px;
    left: 0px;
    top: 175px;
    width: 200px;
    background-color: black;
    color: #f6ff5a;
}


#service4{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 750px;
    left:80%;
    height: 200px;
    width: 200px;
}
#designService{
    position: absolute;
    top: 0px;
    left: 15%;
    border-style: solid;
    border-color: black;
}
#designText{
    position: absolute;
    top: 140px;
    left:85px;
}
#designDescription{
    text-align: center;
    position:absolute;
    padding: 10px;
    left: 0px;
    top: 175px;
    width: 200px;
    background-color: black;
    color: #f6ff5a;
}

#BodyB{
    position:absolute;
    width: available;
    height:auto;
    max-width: 100%;
    max-height: 100vh;
    top:505px;
    left:0px;
    margin:auto;
}
#HeaderB{
    position:absolute;
    width: available;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
    top:0px;
    left:0px;
}
#Logo{
    position:absolute;
    top:150px;
    left:45%;
}
.aboutNavBar{
    background-color:black;
    position:absolute;
    top:435px;
    left:30%;
    border:solid;
    border-width: 2px;
    border-color: #f6ff5a;
}
.aboutNavBar a{
    font-family: "Times New Roman";
    text-decoration: none;
    padding:25px;
    color:#f6ff5a ;
}
#aboutBlurb{
    font-family: "Times New Roman";
    text-align:center;
    background-color:black;
    padding: 5px;
    color: #f6ff5a;
    position:absolute;
    top:525px;
    left:45%;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}

#JoeDiv{
    padding:10px;
    background-color:black;
    color: #f6ff5a;
    position:absolute;
    top:600px;
    left:5%;
    height:300px;
    width:30%;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}
#member1{

}
#title1{
    font-size: medium;
    font-style: italic;
}
#Joe{
    float: right;
}
#description1{
    float: bottom;
}


#MohDiv{
    padding:10px;
    background-color:black;
    color: #f6ff5a;
    position:absolute;
    top:600px;
    left:40%;
    width:30%;
    height:300px;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}
#member2{
}
#title2{
    font-size: medium;
    font-style: italic;
}
#Moh{
    float: right;
}
#description2{
    float: bottom;
}


#StephenDiv{
    padding:10px;
    background-color:black;
    color: #f6ff5a;
    position:absolute;
    top:600px;
    left:75%;
    height:300px;
    width:30%;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}
#member3{
}
#title3{
    font-size: medium;
    font-style: italic;
}
#Stephen{
    float: right;
    padding:5px;
}
#description3{
    float: bottom;
}


#BodyB{
    position:absolute;
    width: available;
    height:auto;
    max-width: 100%;
    max-height: 100vh;
    top:505px;
    left:0px;
    margin:auto;
}
#HeaderB{
    position:absolute;
    width: available;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
    top:0px;
    left:0px;
}
#Logo{
    position:absolute;
    top:150px;
    left:45%;
}
.contactNavBar{
    background-color:black;
    position:absolute;
    top:435px;
    left:30%;
    border:solid;
    border-width: 2px;
    border-color: #f6ff5a;
}
.contactNavBar a{
    font-family: "Times New Roman";
    text-decoration: none;
    padding:25px;
    color:#f6ff5a ;
}
#contactBlurb{
    font-family: "Times New Roman";
    text-align:center;
    background-color:black;
    padding: 10px;
    color: #f6ff5a;
    position:absolute;
    top:625px;
    left:22%;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}
#contactDiv{
    background-color: white;
    color: black;
    font-size: medium;
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 250px;
    top:750px;
    left:60%;
    border: solid;
    border-width: 1px;
    border-color: black;
}
#contactPic{
    position: absolute;
    left: 35%;
    width: 50px;
    height: 50px;
}
#contactTitle{
    position: absolute;
    top: 38%;
    left: 30%;
}
#contactDescription{
    padding: 10px;
    position: absolute;
    left: 0%;
    top: 50%;
    float: bottom;
}
#contactButton{
    position: absolute;
    top: 80%;
    left: 35%;
    height: 35px;
    width: 100px;
    padding: 5px;
}
#contactLink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#salesDiv{
    background-color: white;
    color: black;
    font-size: medium;
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 250px;
    top:750px;
    left:30%;
    border: solid;
    border-width: 1px;
    border-color: black;
}
#salesPic{
    position: absolute;
    left: 35%;
    width: 50px;
    height: 50px;
}
#salesTitle{
    position: absolute;
    top: 38%;
    left: 35%;
}
#salesDescription{
    padding: 10px;
    position: absolute;
    left: 0%;
    top: 50%;
    float:bottom;
}
#salesButton{
    position: absolute;
    top: 80%;
    left: 32%;
    height: 35px;
    width: 125px;
    padding: 5px;
}
#salesLink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#BodyB{
    position:absolute;
    width: available;
    height:auto;
    max-width: 100%;
    max-height: 100vh;
    top:505px;
    left:0px;
    margin:auto;
}
#HeaderB{
    position:absolute;
    width: available;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
    top:0px;
    left:0px;
}
#Logo{
    position:absolute;
    top:150px;
    left:45%;
}
.helpNavBar{
    background-color:black;
    position:absolute;
    top:435px;
    left:30%;
    border:solid;
    border-width: 2px;
    border-color: #f6ff5a;
}
.helpNavBar a{
    font-family: "Times New Roman";
    text-decoration: none;
    padding:25px;
    color:#f6ff5a ;
}
#helpBlurb{
    font-family: "Times New Roman";
    text-align:center;
    background-color:black;
    padding: 10px;
    color: #f6ff5a;
    position:absolute;
    top:625px;
    left:150px;
    border: solid;
    border-width: 1px;
    border-color: #f6ff5a;
}
#infoDiv{
    position: absolute;
    top: 800px;
    left: 40%;
    height: 325px;
    width: 300px;
    background-color: black;
    border-style: solid;
    border-color: #f6ff5a;
    padding: 10px;

}
#helpInfo{
    color: #f6ff5a;
    position: absolute;
    top: 0%;
    left: 17%;
}
#supportInfo{
    color: #f6ff5a;
    position: absolute;
    top: 10%;
}
#supportInfoDescription{
    color: #f6ff5a;
    position: absolute;
    top:20%
}
#salesInfo{
    color: #f6ff5a;
    position: absolute;
    top: 40%;
}
#salesInfoDescription{
    color: #f6ff5a;
    position: absolute;
    top:50%
}
#headquartersInfo{
    color: #f6ff5a;
    position: absolute;
    top: 70%;
}
#headquartersInfoDescription{
    color: #f6ff5a;
    position: absolute;
    top:80%
}