#BodyB{
    position:absolute;
    width: available;
    height:auto;
    max-width: 100%;
    max-height: 100vh;
    top:505px;
    left:0px;
    margin:auto;
}
#HeaderB{
    position:absolute;
    width: max-content;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    margin:auto;
    top:0px;
    left:0px;
}
#Logo{
    position:absolute;
    top:150px;
    left:45%;
}
.mainNavBar{
    background-color:black;
    position:absolute;
    top:435px;
    left:30%;
    border:solid;
    border-width: 2px;
    border-color: #f6ff5a;
}
.mainNavBar a{
    font-family: "Times New Roman";
    text-decoration: none;
    padding:25px ;
    color:#f6ff5a ;
}
#homeDiv{
    font-family: "Times New Roman";
    padding: 10px;
    position:absolute;
    top:550px;
    width: 900px;
    left:20%;
}
#homeTitle{

    color:black ;
 text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}
#blurbDiv{
    font-size: x-large;
    padding: 10px;
    background-color:white;
    color: black;
    text-align: left;
    border-color: black;
    border-style: solid;
}
#homeBlurb1{
    margin: 0;
    text-indent: 2em;
}
#homeBlurb2{
     margin: 0;
     text-indent: 2em;
 }
#homeBlurb3{
      margin: 0;
      text-indent: 2em;
  }
